.module-music {
	position: relative;

	text-align: center;
}
.module-music img {
	max-width: 60%;

	padding-bottom: 1em;
}
#module-music-more {
	position: absolute;
	top: 0.25em;
	right: 0.5em;
	font-size: 1.25em;
}
#module-music-more,
#module-music-prev, #module-music-next, 
#module-music-decVol, #module-music-incVol,
#module-music-playPause,
#module-music-auto {
	user-select: none;
	cursor: pointer;
}
#module-music-prev {
	padding-left: 30%;
	float: left;
}
#module-music-next {
	padding-right: 30%;
	float: right;
}
audio {
	display: none;
}