<div class="module module-music">
	<span id="module-music-more">&equiv;</span>

	<h1 class="module-title">Music</h1>

	<span id="module-music-album"></span><br/>
	<img id="module-music-img" src="" onError="this.src='MUSICPATH/_icons/noimage.jpg';"><br/>
	<span id="module-music-time">0:00/0:00</span><br/>
	<span id="module-music-title">Empty playlist</span><br/><br/>
	<span id="module-music-prev">◁◁</span>
	<span id="module-music-playPause">▶</span>
	<span id="module-music-next">▷▷</span><br/><br/>
	<span id="module-music-decVol">&#128265;</span>
	<span id="module-music-volume">50%</span>
	<span id="module-music-incVol">&#128266;</span><br/><br/>
	<span id="module-music-auto">Automatic playlist</span>

	<audio id="audio" src="" controls />
</div>
<script type="text/javascript" src="../js/main.js"></script>