<div class="main-music"> 	
	<div id="albumlist"></div>
	<ul id="album-details">

	</ul>
	<a id="album-details-close">X</a>
	<div id="playlist">
		<p id="playlist-head">Playlist</p>
		<p id="playlist-cmd"><span id="playlist-refresh">Refresh</span> - <span id="playlist-random">Random</span> - <span id="playlist-clear">Empty list</span></p>
		<ul id="music-list">

		</ul>

		<audio id="audio" src="" controls />
	</div>
</div>
<script>const currentWindow = 'music';</script>
<script type="text/javascript" src="../js/main.js"></script>