<audio id="audio" />

<script type="text/javascript">
	const ipcRenderer = require('electron').ipcRenderer;

	ipcRenderer.on('Music-play', function(_, path) {
		if(typeof path != 'undefined') {
			audio.src = path;
		}
		audio.play();

		audio.addEventListener('loadedmetadata', () => {
		    ipcRenderer.send('Music-duration', audio.duration)
		});
	});

	ipcRenderer.on('Music-pause', function() {
		audio.pause();
	});

	ipcRenderer.on('Music-volume', function(_, volume) {
		audio.volume = volume;
	});
</script>